body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.appbarr {
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  border: 2px solid rgb(31, 230, 252);
  border-radius: 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  opacity: 0.75;
  margin-top: 20px;
  animation: bottomToTop 1s ease forwards;
}


.appbarr:hover {
  box-shadow:
    0 0 20px #00e5ff,
    0 0 30px #cb0bbe;
}

.imagebox {
  height: 90px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.imagebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.namebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 15px;
  color: #0077ff;
}

.namebox h1 {
  margin: 0;
  font-size: 30px;
  color: aqua;
  padding-bottom: 4px;
}

.namebox h3 {
  margin: 0;
  font-size: 20px;
}

.typing {
  color: #0077ff;
  font-weight: 600;
}

.cursor {
  margin-left: 2px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.taskcontents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskcontents button {
  margin: 5px;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #00fff2;
}

.taskcontents button:hover {
  border-radius: 10px;
  background-color: #0077ff;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.declarationbox {
  border: 2px solid black;
  width: 80%;
  padding: 2%;
  border-radius: 50px;
  font-size: 17px;
  transition: transform 0.6s ease;
  margin: 20px;
  animation: bottomToTop 1s ease;
  background: linear-gradient(to top, #c55555, #ff69b4, #1e90ff);
}

.declarationbox:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 20px #00e5ff,
    0 0 30px #cb0bbe;
}

@keyframes forward {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}


.photobax {
  padding: 20px;
}

.photoandexplain {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  opacity: 0.3;
  transform: translateY(50px) scale(0.98);
  transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.card.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.card img:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 20px #00fff2,
    0 0 30px #0782a1;
}

.explainbax {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #ff6f61;
  border-radius: 8px;
}

@keyframes bottomToTop {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bottombarboxes {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.bb1 {
  color: #b0b0b0;
  margin: 20px;
  padding: 10px;
}

.bb2 {
  color: #b0b0b0;
  margin: 20px;
  padding: 10px;
}

.bb3 {
  color: #b0b0b0;
  margin: 20px;
  padding: 10px;
}

.bb4 {
  color: #b0b0b0;
  margin: 20px;
  padding: 10px;
}

.edu {
  color: #ff9800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eduboxes {
  gap: 15px;
  margin: 5%;
}

.engineering {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(192, 252, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30PX;
  margin: 20px;
  background-color: #81e7e2;
}

.college {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.college span {
  display: flex;
  gap: 50PX;
}


form {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  color: #00e5ff;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 90%;
  padding: 8px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #a9eee9;
  ;
}

form button {
  width: 50%;
  padding: 10px;
  background: rgb(10, 173, 223);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.frmbdy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  width: 100%;
  padding: 8px;
  resize: none;
  border-radius: 10px;
  background-color: #a9eee9;
}

.mycontacts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.mycontacts a {
  padding: 5%;
  text-decoration: none;
  color: aliceblue;
}

.bottombar {
  margin: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}